<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Send SMS to several recipients</h1>
        <p>In order to send your message to several recipients, add phone numbers separated by commas in the 'to' field.</p>
        {{ form_errors(form) }}
        {{ form(form) }}
    </body>
</html>